{% extends "base.html" %}
{% block content %}

<h3 class="center-align green-text text-darken-1">Categories</h3>

<div class="row card-panel section categories-cards">
  <h3 class="center-align">Easy</h3>
  {% for trek in treks %}
  {% if trek.category_name == "Easy" %}
  <div class="col s12 m6 l4">
    <div class="card z-depth-2">
        <div class="card-image">
            <img src="{{ trek.image_url }}" alt="{{ trek.trek_name }}">
            <span class="card-title text-shadow">{{ trek.trek_name }}</span>
            <a href="{{ url_for('favourite_trek', trek_id=trek._id) }}" class="btn-floating halfway-fab waves-effect waves-light green left"><i class="far fa-heart 
                tooltipped" data-position="right" data-tooltip="Add to Favourites"></i></a>
            <a href="{{ url_for('view_trek', trek_id=trek._id) }}"
                class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-arrow-right"
                    data-position="right" data-tooltip="Add to Favourites"></i></a>
        </div>
        <div class="card-content">
          <p class="card-sub-head">{{ trek.county_name }}</p>
          <a href="{{ url_for('view_trek', trek_id=trek._id) }}" class="card-category-tag">{{ trek.category_name }}</a>
            <span class="right">Rating<i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></span>
            <p>
                <span>Length: <strong>{{ trek.trek_distance }}</strong></span>
                <span class="elevation-text">Elevation: <strong>{{ trek.trek_elevation }}</strong></span></p>
            <p><em>Contributor: {{ trek.created_by }}</em></p>
            {% if session.user|lower == trek.created_by|lower %}
            <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
            <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
                class="btn-small red lighten-1">Delete</a>
            <!-- allows admin to edit/delete all submissions -->
            {% elif session.user|lower == "admin" %}
            <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
            <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
                class="btn-small red lighten-1">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
  {% endif %}
  {% endfor %}
</div>

<div class="row card-panel section categories-cards">
  <h3 class="center-align">Moderate</h3>
{% for trek in treks %}
{% if trek.category_name == "Moderate" %}
<div class="col s12 m6 l4">
  <div class="card z-depth-2">
      <div class="card-image">
          <img src="{{ trek.image_url }}" alt="{{ trek.trek_name }}">
          <span class="card-title text-shadow">{{ trek.trek_name }}</span>
          <a href="{{ url_for('favourite_trek', trek_id=trek._id) }}" class="btn-floating halfway-fab waves-effect waves-light green left"><i class="far fa-heart 
              tooltipped" data-position="right" data-tooltip="Add to Favourites"></i></a>
          <a href="{{ url_for('view_trek', trek_id=trek._id) }}"
              class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-arrow-right"
                  data-position="right" data-tooltip="Add to Favourites"></i></a>
      </div>
      <div class="card-content">
        <p class="card-sub-head">{{ trek.county_name }}</p>
        <a href="{{ url_for('view_trek', trek_id=trek._id) }}" class="card-category-tag">{{ trek.category_name }}</a>
          <span class="right">Rating<i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i></span>
          <p>
              <span>Length: <strong>{{ trek.trek_distance }}</strong></span>
              <span class="elevation-text">Elevation: <strong>{{ trek.trek_elevation }}</strong></span></p>
          <p><em>Contributor: {{ trek.created_by }}</em></p>
          {% if session.user|lower == trek.created_by|lower %}
          <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
          <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
              class="btn-small red lighten-1">Delete</a>
          <!-- allows admin to edit/delete all submissions -->
          {% elif session.user|lower == "admin" %}
          <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
          <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
              class="btn-small red lighten-1">Delete</a>
          {% endif %}
      </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>

<div class="row card-panel section categories-cards">
  <h3 class="center-align">Hard</h3>
{% for trek in treks %}
{% if trek.category_name == "Hard" %}
<div class="col s12 m6 l4">
  <div class="card z-depth-2">
      <div class="card-image">
          <img src="{{ trek.image_url }}" alt="{{ trek.trek_name }}">
          <span class="card-title text-shadow">{{ trek.trek_name }}</span>
          <a href="{{ url_for('favourite_trek', trek_id=trek._id) }}" class="btn-floating halfway-fab waves-effect waves-light green left"><i class="far fa-heart 
              tooltipped" data-position="right" data-tooltip="Add to Favourites"></i></a>
          <a href="{{ url_for('view_trek', trek_id=trek._id) }}"
              class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-arrow-right"
                  data-position="right" data-tooltip="Add to Favourites"></i></a>
      </div>
      <div class="card-content">
              <p class="card-sub-head">{{ trek.county_name }}</p>
          <a href="{{ url_for('view_trek', trek_id=trek._id) }}" class="card-category-tag">{{ trek.category_name }}</a>
          <span class="right">Rating<i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i></span>
          <p>
              <span>Length: <strong>{{ trek.trek_distance }}</strong></span>
              <span class="elevation-text">Elevation: <strong>{{ trek.trek_elevation }}</strong></span></p>
          <p><em>Contributor: {{ trek.created_by }}</em></p>
          {% if session.user|lower == trek.created_by|lower %}
          <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
          <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
              class="btn-small red lighten-1">Delete</a>
          <!-- allows admin to edit/delete all submissions -->
          {% elif session.user|lower == "admin" %}
          <a href="{{ url_for('edit_trek', trek_id=trek._id) }}" class="btn-small green lighten-1">Edit</a>
          <a href="{{ url_for('delete_trek', trek_id=trek._id) }}"
              class="btn-small red lighten-1">Delete</a>
          {% endif %}
      </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>


{% endblock %}