{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-green-text text-darken-2">Edit Trek</h3>

<!-- trek name -->
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_trek', trek_id=trek._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-hiking prefix light-green-text text-darken-2"></i>
                <input id="trek_name" name="trek_name" type="text" minlength="2" maxlength="50"
                    value="{{ trek.trek_name }}" class="validate" required>
                <label for="trek_name">Trek Name</label>
            </div>
        </div>
        <!-- county dropdown -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-map prefix light-green-text text-darken-2"></i>
                <select id="county_name" name="county_name" class="validate" required>
                    <option value="" disabled>Choose County</option>
                    {% for county in counties %}
                    {% if county.county_name == trek.county_name %}
                    <option value="{{ county.county_name }}" selected>{{ county.county_name }}</option>
                    {% else %}
                    <option value="{{ county.county_name }}">{{ county.county_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="county_name">County</label>
            </div>
        </div>
        <!-- trek category dropdown -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-green-text text-darken-2"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == trek.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!-- trek distance -->
        <div class="row">
            <div class="input-field col s12 m4">
                <i class="fas fa-ruler prefix light-green-text text-darken-2"></i>
                <input id="trek_distance" name="trek_distance" type="text" minlength="2" maxlength="7"
                    pattern="(\d+).?(\d*)\s*(km)" class="validate" value="{{ trek.trek_distance }}" required>
                <label for="trek_distance">Trek Distance</label>
                <span class="helper-text" data-error="Please Enter a Distance e.g 1.3km" data-success="right">In
                    km</span>
            </div>
            <!-- trek elevation -->
            <div class="input-field col s12 m4">
                <i class="fas fa-mountain prefix light-green-text text-darken-2"></i>
                <input id="trek_elevation" name="trek_elevation" type="text" minlength="2" maxlength="7"
                    pattern="(\d+).?(\d*)\s*(m)" class="validate" value="{{ trek.trek_elevation }}" required>
                <label for="trek_elevation">Trek Elevation</label>
                <span class="helper-text" data-error="Please Enter an Elevation e.g 526m" data-success="right">In
                    Metres</span>
            </div>
        <!-- trek route type -->
            <div class="input-field col s12 m4">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-2"></i>
                <input id="trek_route_type" name="trek_route_type" type="text" minlength="2" maxlength="15"
                    class="validate" value="{{ trek.trek_route_type}}" required>
                <label for="trek_route_type">Trek Route Type</label>
                <span class="helper-text" data-error="" data-success="right">Out and Back, Loop etc.</span>
            </div>
        </div>
        <!-- trek description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-green-text text-darken-2"></i>
                <textarea id="trek_description" name="trek_description" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required>
                {{- trek.trek_description -}}
                </textarea>
                <label for="trek_description">Trek Description</label>
            </div>
        </div>
        <!-- image url -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix light-green-text text-darken-2"></i>
                <input id="image_url" name="image_url" type="text" minlength="5" maxlength="500" class="validate"
                    value="{{ trek.image_url }}" required>
                <label for="image_url">Image URL</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_treks') }}" class="btn-large waves-effect red lighten-1">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large waves-effect green lighten-1">
                    Edit Trek <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}