{% extends "base.html" %}
{% block content %}

<div class="slider">
  <ul class="slides">
    <li>
      <img src="/static/images/wicklow-mountains-trek.jpg"> <!-- random image -->
      <div class="caption center-align text-shadow">
        <h3>Welcome to Onward & Upward</h3>
        <h5 class="light grey-text text-lighten-3">Let's Explore</h5>
      </div>
    </li>
    <li>
      <img src="/static/images/benbulben.jpg"> <!-- random image -->
      <div class="caption left-align text-shadow">
        <h3>Discover the Best Treks in Ireland</h3>
        <h5 class="light grey-text text-lighten-3">Stunning scenery, spectacular views, all on your doorstep.</h5>
      </div>
    </li>
    <li>
      <img src="/static/images/cuilcagh-boardwalk-steven-hylands-flickr.jpg"> <!-- random image -->
      <div class="caption right-align text-shadow">
        <h3>Add Your Own Treks</h3>
        <h5 class="light grey-text text-lighten-3">Share your favourite treks with our community.</h5>
      </div>
    </li>
    <li>
      <img src="/static/images/croagh-patrick-stehpen-coyle-flickr.jpg"> <!-- random image -->
      <div class="caption center-align text-shadow">
        <h3>Join Today</h3>
        <h5 class="light grey-text text-lighten-3">Join our ever gorwing community of trekkers.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row greeting-blurb">
  <div class="col s12 m6 offset-m3 center-align">
    <h2>Welcome!</h2>
    Welcome to Onward & Upward. We are dedicated to bringing you the absolute best treks and hikes in Ireland.
    From the most popualr treks in Ireland to some of best hidden gems, we have it all. We are a constantly growing
    communitywith new contentbeing updated regularly
    by the the O&A team and our wonderful community. Please join up today and share your favourite treks with us. Let's
    explore together!
  </div>
</div>

<div class="row featured-treks">
  {% for trek in treks %}
  <div class="col s12 m6 l4">
    <div class="card z-depth-2">
      <div class="card-image">
        <img src="{{ trek.image_url }}">
        <span class="card-title text-shadow">{{ trek.trek_name }}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light green left"><i class="far fa-heart 
                  tooltipped" data-position="right" data-tooltip="Add to Favourites"></i></a>
        <a href="{{ url_for('view_trek', trek_id=trek._id) }}"
          class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-arrow-right"
            data-position="right" data-tooltip="Add to Favourites"></i></a>
      </div>
      <div class="card-content">
        <a href="#">
          <p class="card-sub-head">{{ trek.county_name }}</p>
        </a>
        <a href="#" class="card-category-tag">{{ trek.category_name }}</a>
        <span class="right">Rating<i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i></span>
        <p><span>Length: <strong>{{ trek.trek_distance }}</strong></span>
          <span class="elevation-text">Elevation: <strong>{{ trek.trek_elevation }}</strong></span></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row home-categories">
  {% for category in categories %}
  <div class="col s12 m4">
    <div class="card-panel">
      <a href="{{ url_for('get_categories') }}">
      <h4 class="center-align light-green-text text-darken-2">{{ category.category_name }}
      </h4></a>
    </div>
  </div>
  {% endfor %}
</div>


<div class="row card-panel home-search-bar">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s12 m8">
        <i class="fas fa-search prefix green-text lighten-1"></i>
        <input type="text" name="query" id="query" minlength="3" class="validate" required>
        <label for="query">Search Treks</label>
      </div>
      <div class="col s12 m4">
        <a href="{{ url_for('get_treks') }}" class="red lighten-1 btn">Reset</a>
        <button type="submit" class="green lighten-1 btn">
          <i class="fas fa-search left"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row features-section">
  <div class="row center-align">
    <div class="col s12 m4 offset-m4">
      <h3><strong>Sign Up Today!</strong></h3>
    </div>
  </div>

  <div class="row center-align">
    <div class="col s12 m4">
      <h4>Add Your Treks</h4>
      <i class="far fa-plus-square home-icons"></i>
      <p>You can add all your own treks and share them with our community.</p>
    </div>
    <div class="col s12 m4">
      <h4>Discover New Journeys</h4>
      <i class="fas fa-hiking home-icons"></i>
      <p>Discover the many exciting journeys, treks and hikes in beautiful Ireland.</p>
    </div>
    <div class="col s12 m4">
      <h4>Favourite Treks</h4>
      <i class="far fa-heart home-icons"></i>
      <p>Add all your favourite treks to your profile.</p>
    </div>
  </div>

  <div class="row center-align">
    <div class="col s12 m2 offset-m5">
      <a href="{{ url_for('join') }}" class="waves-effect waves-light btn home-reg-button green darken-1">Join Now</a>
    </div>
  </div>
</div>

{% endblock %}