{% extends "base.html" %}
{% block content %}

<h3 class="center-align green-text text-darken-1">JOIN</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('join') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6">
                    <input id="fname" name="fname" type="text" minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}$"
                        class="validate">
                    <label for="fname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="lname" name="lname" type="text" minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}$"
                        class="validate">
                    <label for="lname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix green-text text-darken-1"></i>
                    <input id="email" name="email" type="email" class="validate"
                        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix green-text text-darken-1"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">UserName</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix green-text text-darken-1"></i>
                    <input id="password" name="password" minlength="5" maxlength="15" type="password"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Please enter a valid password (A-Z,0-9)" data-success="Correct">Must be between 5-15 characters</span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s2 offset-s5 btn-large waves-effect green darken-1 text-shadow">
                    Join <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
            <div class="row center">
                <div class="col s12">
                    <span>Already Joined Up? Please Login</span><a href="{{ url_for('login')}}"> Here!</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}