{% extends "base.html" %}
{% block content %}

<div class="row view-trek">
    <div class="col s12 trek-img">
        <img src="{{ trek.image_url }}" alt="Picture of {{ trek.trek_name }}">
        <h2 class="text-shadow">{{ trek.trek_name }}</h2>
        <h4 class="text-shadow">{{ trek.county_name }}</h4>
    </div>
</div>

<div class="row view-trek-headings section">

    <div class="col s12 m4">
        <h5>Length:</h5>
        <p>{{ trek.trek_distance }}</p>

        <h5>Elevation Gain:</h5>
        <p>{{ trek.trek_elevation }}</p>

        <h5>Route Type:</h5>
        <p>{{ trek.trek_route_type }}</p>
    </div>

    <div class="col s12 m6 right">
        <div>
            <h5>Trek Description</h5>
        </div>
        <p>{{ trek.trek_description }}</p>
    </div>

</div>

<div class="row section">
    <div class="col s12 center-align">
        <a href="{{ url_for('get_treks') }}" class="waves-effect waves-light green darken-1 btn-small">Back to Treks!</a>
    </div>
</div>



{% endblock %}