{% extends "base.html" %}
{% block content %}


<div class="row featured-treks">
    {% for trek in categories %}
    <div class="col s12 m6 l4">
      <div class="card z-depth-2">
        <div class="card-image">
          <img src="{{ trek.image_url }}">
          <span class="card-title text-shadow">{{ trek.trek_name }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green left"><i class="far fa-heart 
                    tooltipped" data-position="right" data-tooltip="Add to Favourites"></i></a>
          <a href="{{ url_for('view_trek', trek_id=trek._id) }}"
            class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-arrow-right"
              data-position="right" data-tooltip="Add to Favourites"></i></a>
        </div>
        <div class="card-content">
          <a href="#">
            <p class="card-sub-head">{{ trek.county_name }}</p>
          </a>
          <a href="#" class="card-category-tag">{{ trek.category_name }}</a>
          <span class="right">Rating<i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span>
          <p><span>Length: <strong>{{ trek.trek_distance }}</strong></span>
            <span class="elevation-text">Elevation: <strong>{{ trek.trek_elevation }}</strong></span></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}